@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --narrator-font-size: 2em;
    --text-font-size: 1em;
    --button-font-size: 1.5em;
    --input-font-size: 2em;
    --header1-font-size: 6em;
    --header2-font-size: 3em;
}

@media (max-width: 650px) {
    :root {
        --narrator-font-size: 1.5em;
        --text-font-size: 1.5em;
        --header1-font-size: 3em;
        --header2-font-size: 2.5em;
    }
}


.font-roboto {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.font-jetbrains-mono {
  font-family: "JetBrains Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
.font-cause {
  font-family: "Cause", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

body { margin: 0; }

h1, h2, h3, h4, h5, h6,
p, a, text, button
{
    margin: 0;

    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

h1 { font-size: var(--header1-font-size); font-weight: bold; }
h2 { font-size: var(--header2-font-size); font-weight: bold; }
p, text { font-size: var(--text-font-size); }

button {
    border: 1px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: .2em .5em .2em .5em;
    
    font-size: var(--button-font-size);
    cursor: pointer;
}

input {
    border: 5px solid gray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    font-size: var(--input-font-size);

    cursor: text;
}

[narrator="on"] h1, [narrator="on"] h2, [narrator="on"] h3, [narrator="on"] h4, [narrator="on"] h5, [narrator="on"] h6,
[narrator="on"] p, [narrator="on"] a, [narrator="on"] button {
    text-align: center;

    font-family: "Cause", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: var(--narrator-font-size);
    text-align: center;
}

.block {
    margin: 5em 0 5em 0;
    padding: 2em;

    position: relative;
    top: 0;
    left: 0;
    min-height: calc(100vh - 4em);
    width: calc(100vw - 4em);   
}

@media (max-width: 600px) {
    .block {
        width: calc(100vw - 1em);
        padding: .5em;
    }
}

a:has(> .card) {
    text-decoration: none;
}
.card {
    display: flex;
    background-color: #282A36;
    color: #F8F8F2;
    width: 100%;
    border-radius: 20px;
    border: 1px solid #44475A;
    overflow: hidden;

    & > img {
        width: 120px;
        aspect-ratio: 1 / 1;
    }

    & > div {
        padding: 10px;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
    
    & > div > div {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    & > div > div > p {
        overflow: hidden;
        display: -webkit-box;
        line-clamp: 3;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    & > div > div > * {
        font-size: 1em;
    }

    a {
        color: #8BE9FD;
    }
}

.code {
    background: #282A36;
    color: #F8F8F2;

    border: 5px solid #44475A;
    border-radius: 10px;

    padding: 16px;
    line-height: 1.5;

    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 2em;

    & > pre {
        margin: 0;
        height: calc(100%);
    }
}

.token {
    &.keyword { color: #BD93F9; }
    &.class-name { color: #8BE9FD; }
    &.method { color: #50FA7B; }
    &.function { color: #50FA7B; }
    &.string { color: #F1FA8C; }
    &.property { color: #F8F8F2; }
    &.variable { color: #F8F8F2; }
    &.object { color: #4fc1ff; }
    &.param { color: #FFB86C; }
    &.operator { color: #BD93F9; }
}

#silly-boi {
    transition: opacity 5s ease;
}

html[data-narrator="off"] [narrator="on"] { display: none !important; }
html[data-narrator="on"] [narrator="off"] { display: none !important; }

/* Language shit */
html[data-lang="pt"] [locale]:not([locale="pt"]) { display: none !important; }
html[data-lang="en"] [locale]:not([locale="en"]) { display: none !important; }
