@import url('https://fonts.googleapis.com/css2?family=Cause:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --color-background-primary: #44475A;
    --color-background-secondary: #282A36;
    --color-background-tertiary: #282A36;

    /* Texto */
    --color-text-primary: #F8F8F2;
    --color-text-secondary: #F8F8F2;
    
    --color-text-contrast-primary: var(--color-background-primary);
    
    /* Cores */
    --color-red-primary: #FF5555;
    --color-red-background: color-mix(in srgb, var(--color-red-primary) 10%, transparent);

    --color-orange-primary: #FFB86C;
    --color-orange-background: color-mix(in srgb, var(--color-orange-primary) 10%, transparent);

    --color-yellow-primary: #F1FA8C;
    --color-yellow-background: color-mix(in srgb, var(--color-yellow-primary) 10%, transparent);

    --color-green-primary: #50FA7B;
    --color-green-background: color-mix(in srgb, var(--color-yellow-primary) 10%, transparent);

    --color-blue-primary: #8BE9FD;
    --color-blue-secondary:  color-mix(in srgb, var(--color-blue-primary) 75%, black);
    --color-blue-tertiary:   color-mix(in srgb, var(--color-blue-primary) 70%, black);
    --color-blue-background: color-mix(in srgb, var(--color-blue-primary) 10%, transparent);

    --color-purple-primary: #BD93F9;
    --color-purple-background: color-mix(in srgb, var(--color-purple-primary) 10%, transparent);

    --color-pink-primary: #FF79C6;
    --color-pink-background: color-mix(in srgb, var(--color-pink-primary) 10%, transparent);

    /* Bordas */
    --color-border-tertiary: rgba(248, 248, 242, 0.5);
    --color-border-secondary: 0.3;
    --color-border-primary: 0.4;

    /* Tipografia */
    --font-mono: "JetBrains Mono", monospace;

    /* Layout */
    --border-radius-md: 8px;
    --border-radius-lg: 12px;
}

body {
    background: var(--color-background-secondary);
}

* {
    box-sizing: border-box;
    margin: 0;
}

.header {
    margin: 2rem;
    text-align: center;
    color: var(--color-text-primary);
}

.card {
    margin: 20px;
    background: var(--color-background-primary);
    border: 1px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-lg);
    padding: 1.25rem;
    margin-bottom: 1rem;
}
.section-label {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    color: var(--color-text-secondary);
    margin-bottom: 0.75rem;
}
.editor {
    width: 100%;
    height: 70vh;
    font-family: var(--font-mono);
    font-size: 12.5px;
    line-height: 1.6;

    border: 1px solid var(--color-border-tertiary);
    border-radius: var(--border-radius-md);
    overflow: hidden;

}
.run-btn {
    font-size: 1rem;
    padding: 5px 14px;
    cursor: pointer;
    margin-top: 0.5rem;

    background-color: var(--color-blue-primary);
    color: var(--color-text-contrast-primary);
    border-radius: var(--border-radius-md);
    border: 3px solid var(--color-blue-secondary);
    border-bottom: 5px solid var(--color-blue-secondary);
}

.run-btn:hover {
    color: var(--color-text-contrast-primary);
    background: var(--color-blue-secondary);
    border-color: var(--color-blue-tertiary);
}
.run-btn:active {
    transform: scale(0.90);
}
.output {
    margin-top: 0.75rem;
    padding: 0.75rem 1rem;
    background: var(--color-background-tertiary);
    border-radius: var(--border-radius-md);
    border: 0.5px solid var(--color-border-tertiary);
    font-family: var(--font-mono);
    font-size: 12.5px;
    min-height: 32px;
}
.out-log {
    color: var(--color-text-primary);
    line-height: 1.7;
}
.out-err {
    color: var(--color-red-primary);
    background-color: var(--color-red-background);
    line-height: 1.7;
}
.out-warn {
    color: var(--color-yellow-primary);
    background-color: var(--color-yellow-background);
    line-height: 1.7;
}
.hint {
    font-size: 12px;
    color: var(--color-text-secondary);
    margin-top: 0.4rem;
}
